<html lang="es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Prueba de Arduino</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/slate.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/master.css' %}" rel="stylesheet">

</head>

<body>
    <div class="container">
        <div class="title">PROYECTO PARA ELECTRÓNICA DIGITAL</div>
        <div class="container_buttons">
            <div>
                <form method="POST">{% csrf_token %}
                    <input type="hidden" value="1" name="id">
                    <button class="boton1">Led rojo</button> <br>
                </form>
            </div>
            <div>
                <form method="POST">{% csrf_token %}
                    <input type="hidden" value="2" name="id">
                    <button class="boton2">Led azul</button> <br>
                </form>
            </div>
            <div>
                <form method="POST">{% csrf_token %}
                    <input type="hidden" value="3" name="id">
                    <button class="boton3">Led verde</button> <br>
                </form>
            </div>
            <div>
                <form method="POST">{% csrf_token %}
                    <input type="hidden" value="4" name="id">
                    <button class="boton4">Led amarillo</button> <br>
                </form>
            </div>
            <div>
                <form method="POST">{% csrf_token %}
                    <input type="hidden" value="5" name="id">
                    <button class="botonApagarTodo">Apagar todos</button> <br>
                </form>
            </div>
            <div>
                <form method="POST">{% csrf_token %}
                    <input type="hidden" value="6" name="id">
                    <button class="botonEncenderTodo">Encender todos</button> <br>
                </form>
            </div>
            <div>
                <form method="POST">{% csrf_token %}
                    <input type="hidden" value="7" name="id">
                    <button class="boton7">Encender bucer</button> <br>
                </form>
            </div>
            <div>
                <form method="POST">{% csrf_token %}
                    <input type="hidden" value="8" name="id">
                    <button class="boton8">Encender motor</button> <br>
                </form>
            </div>
        </div>
    </div>
    <!-- Custom Scripts -->
    <script src="{% static 'js/master.js' %}"></script>
</body>

</html>