* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(36, 7, 56);
  color: white;
  background: #0b0b0b;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title {
  font-weight: 700;
  font-size: 25;
  text-align: center;
  padding-bottom: 20px;
}

.containerButtons {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.containerButtons2 {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.item_1 {
  width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_2 {
  width: 100%;
}

button {
  width: 100%;
  height: 120px;
  background-color: black;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  background-color: rgba(51, 51, 51, 0.445);
  transition: ease 0.5s;
  transform: scale(1.05);
}
.autor{
  font-size: 16px;
  text-align: center;
  padding-top: 40px;
  text-transform: uppercase;
  font-style: italic;
  color: rgba(255, 255, 255, 0.534);
}
@media (max-width: 768px) {
  .title {
    font-size: 16px;
  }
  .autor {
    font-size: 14px;
  }
  button {
    font-size: 14px;
  }
}